{% extends "writers/writer.html" %}

{% block content %}

<div class="col-md-6 card w-100 text-center">
    <br>
    <h3>Estas por eliminar el autor: {{writer.name|capfirst}} {{writer.lastname|capfirst}}, estas seguro?</h3><br>
    <form action="/delete-writer/{{writer.id}}/" method="POST">
        {% csrf_token %}
        <a href="/writer-details/{{writer.id}}" type="button" class="btn btn-secondary btn-sm">Cancelar</a>
        <a type="submit" class="btn btn-danger btn-sm" style="margin-left: 2rem;">Eliminar</a>
    </form>
    <br>
</div>

{% endblock %}