{% extends "writers/writer.html" %}


{% block content %}

{% if form %}
<div class="container-sm" style="width:80%"><br>
    <div class=" row justify-content-center align-items-center  bg-light">
        <div class="col-auto">
            <br>
            <h4>Por favor ingrese aqui los datos del nuevo autor</h4><br>
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.media.js }}
                {{ form.media.css }}
                {% csrf_token %}
                <table class="table table-borderless">
                    {{form.as_table}}
                </table>
                <br>
                <div class=" container text-right">
                    <input class='btn btn-secondary pull-right' style="float:right;" type="submit" value="Aceptar"><br>
                </div><br><br>
        </div>
    </div>
</div>
<br>
{% endif %}

{% endblock %}