{% extends "blog/blog.html" %}

{% block title %}
Blog
{% endblock title %}

{% block content %}
<div class="container-sm" style="width:100%"><br>
    <div class=" row bg-light">
        <div class="col-auto">
            <br>
            <h4>Por favor ingrese aqui su nueva entrada de blog</h4><br>
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.media.js }}
                {{ form.media.css }}
                {% csrf_token %}
                <table class="table table-borderless">
                    {{form.as_table}}
                </table>
                <br>
                <div class=" container text-right">
                    <input class='btn btn-secondary pull-right' style="float:right;" type="submit" value="Aceptar"><br>
                </div><br><br>
        </div>
    </div>
</div>
<br>
{% endblock %}