{% extends "base.html" %}

{% block title %}
Sobre mi
{% endblock title %}

{% block content %}


<div class="row d-flex no-gutters">
    <div class="col-md-6 col-lg-5 d-flex">
        <div class="img-about img d-flex align-items-stretch">
            <div class="overlay"></div>
            <div class="img d-flex align-self-stretch align-items-center">
                <img src="default.jpg">
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
        <div class="py-md-5">
            <div class="row justify-content-start pb-3">
                <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">

                    <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">Sobre mí</h2>
                    <p>Una contadora pública jugando a programar. Data Science in progress!!!</p>
                    <ul class="about-info mt-4 px-md-0 px-2">
                        <li class="d-flex"><span style="margin-right:1rem">Nombre: </span> <span> Naty Benitez</span></li>
                        <li class="d-flex"><span style="margin-right:1rem">Cumpleaños:</span> <span> Marzo 17, todos los años el mismo día :)</span></li>
                        <li class="d-flex"><span style="margin-right:1rem">Domicilio:</span> <span> Alquilado 123, Ciudad de Algun Lado</span></li>
                        <li class="d-flex"><span style="margin-right:1rem">Codigo Postal:</span> <span> 19DF2</span></li>
                        <li class="d-flex"><span style="margin-right:1rem">Email:</span> <span> natybenitez@admin.com</span></li>
                        <li class="d-flex"><span style="margin-right:1rem">Telefono: </span> <span>+54 911 1234-5678</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}