{% extends "base.html" %}

{% block title %} Chapter One {% endblock %}

{% block content %}

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        
        <h1 class="display-5 fst-italic">{{post.title}}</h1>
        <p class="lead my-3">{{post.body |safe | truncatewords:"30" }}</p>
        <p class="lead mb-0"><a href="#" class="text-white">Leer más...</a></p>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-block d-lg-bloc">
                <img class=" d-block " src={{writer.image.url}} width="200" height="250"> 
              </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{writer.name|capfirst}} {{writer.lastname|capfirst}}</h3>
            <div class="mb-1 text-muted">{{writer.country.name}}</div>
            <p class="card-text mb-auto">{{writer.bio |safe | truncatewords:"30" }}</p>
            <a href="/writer-details/{{writer.id}}" class="stretched-link">Leer más</a>
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-block d-lg-bloc">
                <img class=" d-block " src={{book.image.url}} width="200" height="250"> 
              </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{book.title|capfirst}}</h3>
            <div class="mb-1 text-muted">{{book.writer| title}} - {{book.year_published}}</div>
            <p class="card-text mb-auto">{{book.summary |safe | truncatewords:"30" }}</p>
            <a href="/writer-details/{{writer.id}}" class="stretched-link">Leer más</a>
          </div>

        </div>
      </div>



</div>





{% endblock %}