{% extends "base.html" %}

{% block title %}
Registro
{% endblock title %}

{% load bootstrap %}
{% block content %}

{% if form %}
<div class="container-sm" style="width:70%"><br>
    <div class=" row justify-content-center align-items-center  bg-light">
        <div class="col-auto">
            <br>
            <h4>Ingrese los datos para crear su nuevo usuario</h4><br>
            <form action="" method="POST">
                {% csrf_token %}
                <table class="table table-borderless">
                    {{form.as_table}}
                </table>
                <br>
                <div class=" container text-right">
                    <input class='btn btn-secondary pull-right' style="float:right;" type="submit" value="Aceptar"><br><br>
                </div>
        </div>
    </div>
</div>
<br>
{% endif %}

{% endblock %}